<%- include('../theHeader.ejs') %>
<h1 class="text-3xl text-center font-bold mb-[30px]">
  Личный кабинет
</h1>
<ul>
  <li><strong>Имя: </strong><%= user.userName %></li>
  <li><strong>Логин: </strong><%= user.userLogin %></li>
</ul>
<%- include('../theFooter.ejs') %>