</main>
<footer class="bg-[#ccc] py-[20px] mt-[30px]">
  <section class="max-w-[1280px] mx-auto text-center">
    <p>&copy; <%=  new Date().getFullYear(); %> Книги</p>
  </section>
</footer>
</body>
</html>